  <header>
    <h1>Business Casual</h1>
  </header>
  
  <ul>
    <li><a href="#" target="_blank">HOME</a></li>
    <li><a href="#" target="_blank">ABOUT</a></li>
    <li><a href="#" target="_blank">CONTACT</a></li>
  </ul>