
  <div class="home-callout text-center container-fluid">
    <h1>neu, design&code.</h1>
    
    <img src="recources/neu.png"></img>
    
    <div>
      <p>We transform opportunity into reality through research, strategy, innovation, development, and design.</p>
    </div>

  </div>
  

  
