/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'bootstrap-sprockets';
@import "font-awesome-sprockets";
@import "font-awesome";

@import 'compass/css3';


h1 {
	font-family: helvetica;
}

.navbar, .home-callout {
	background: linear-gradient(to right, #FFC371, #FF5F6D);
 }
 
.navbar {
	border: none;
	padding: 0 0 10px 0;
}

.navbar-default .navbar-brand {
	font-size: 24px;
	font-weight: bold;
}
 
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
	color: white;
	opacity: 0.75;
	font-family: helvetica;
	letter-spacing:2px;
	&:hover {
		color: #5e5e5e;
	}
}

.home-callout {
	 color: white;
	 margin-top: -20px;
	 padding: 100px 0 600px 0;
}